/*
  - reset CSS -
  http://meyerweb.com/eric/tools/css/reset/
  v2.0-modified | 20110126
  License: none (public domain)
*/
/* line 8, sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* make sure to set some focus styles for accessibility */
/* line 31, sass/_reset.scss */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
/* line 36, sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 41, sass/_reset.scss */
body {
  line-height: 1; }

/* line 45, sass/_reset.scss */
ol, ul {
  list-style: none; }

/* line 49, sass/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 53, sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 59, sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 64, sass/_reset.scss */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

/* line 72, sass/_reset.scss */
input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* line 80, sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* base CSS */
/* line 3, sass/_base.scss */
* {
  margin: 0;
  padding: 0; }

/* line 8, sass/_base.scss */
html, body {
  height: 100%; }

/* line 12, sass/_base.scss */
html {
  font-size: 18px; }

/* line 16, sass/_base.scss */
button {
  background: transparent;
  border: none;
  cursor: pointer; }

/* line 22, sass/_base.scss */
:focus {
  outline: 0 !important; }

/* line 27, sass/_base.scss */
input,
textarea,
select {
  border: none;
  border-radius: 0;
  box-shadow: none; }

/* line 35, sass/_base.scss */
input,
textarea {
  appearance: none; }

/* line 40, sass/_base.scss */
img, iframe {
  max-width: 100%; }

/* line 44, sass/_base.scss */
img, textarea {
  vertical-align: top; }

/* line 48, sass/_base.scss */
textarea {
  resize: none; }

/* line 52, sass/_base.scss */
a {
  text-decoration: none; }

/* line 56, sass/_base.scss */
a:hover {
  text-decoration: none; }

/* line 60, sass/_base.scss */
a:hover {
  text-decoration: none; }

/* line 64, sass/_base.scss */
body {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column; }

/* line 71, sass/_base.scss */
.d-inline-block {
  display: inline-block; }

/* line 75, sass/_base.scss */
.d-flex {
  display: flex; }

/* line 79, sass/_base.scss */
.flex-1 {
  flex: 1; }

/* line 83, sass/_base.scss */
.align-center {
  align-items: center; }

/* line 87, sass/_base.scss */
.justify-content-between {
  justify-content: space-between; }

/* line 91, sass/_base.scss */
.justify-content-center {
  justify-content: center; }

/* line 95, sass/_base.scss */
.h-100 {
  height: 100%; }

/* line 99, sass/_base.scss */
.container {
  padding-left: 30px;
  padding-right: 30px; }

/* fonts */
@font-face {
  font-family: 'NotoSansArmenian';
  src: url("../fonts/NotoSansArmenian.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansArmenian.woff") format("woff"), url("../fonts/NotoSansArmenian.ttf") format("truetype"), url("../fonts/NotoSansArmenian.svg#NotoSansArmenian") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NotoSansArmenian-Bold';
  src: url("../fonts/NotoSansArmenian-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansArmenian-Bold.woff") format("woff"), url("../fonts/NotoSansArmenian-Bold.ttf") format("truetype"), url("../fonts/NotoSansArmenian-Bold.svg#NotoSansArmenian-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 2, sass/_header.scss */
.header {
  background: no-repeat center/cover url("../img/banner.png"); }
  @media only screen and (max-width: 768px) {
    /* line 2, sass/_header.scss */
    .header {
      min-height: 10rem; } }
  @media only screen and (max-width: 570px) {
    /* line 2, sass/_header.scss */
    .header {
      min-height: 8rem; } }
  /* line 10, sass/_header.scss */
  .header__container {
    margin: 0 auto;
    max-width: 80%;
    padding: 1vw 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media only screen and (max-width: 1024px) {
      /* line 10, sass/_header.scss */
      .header__container {
        max-width: 90%;
        padding: 2vw 0; } }
    /* line 22, sass/_header.scss */
    .header__container:after {
      background: no-repeat center/contain url("../img/icon-4.png");
      bottom: 16%;
      height: 3rem;
      right: 0;
      width: 3.5rem;
      animation: scaling 5s ease-out 2s infinite both; }
      @media only screen and (max-width: 570px) {
        /* line 22, sass/_header.scss */
        .header__container:after {
          display: none; } }
    /* line 33, sass/_header.scss */
    .header__container:before {
      background: no-repeat center/contain url("../img/icon-1.png");
      bottom: 16%;
      height: 3rem;
      left: -7%;
      width: 3rem;
      animation: shake-up 5s ease-out 2s infinite both; }
      @media only screen and (max-width: 1024px) {
        /* line 33, sass/_header.scss */
        .header__container:before {
          left: -5%;
          width: 2.5rem; } }
      @media only screen and (max-width: 570px) {
        /* line 33, sass/_header.scss */
        .header__container:before {
          display: none; } }
  /* line 49, sass/_header.scss */
  .header__wrapper {
    align-items: flex-start;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 570px) {
      /* line 49, sass/_header.scss */
      .header__wrapper {
        justify-content: center; } }
    /* line 56, sass/_header.scss */
    .header__wrapper:after {
      background: no-repeat center/contain url("../img/icon-3.png");
      bottom: 34%;
      height: 3rem;
      right: 18%;
      width: 4rem;
      animation: shake-left 6s ease-out infinite both; }
      @media only screen and (max-width: 1024px) {
        /* line 56, sass/_header.scss */
        .header__wrapper:after {
          bottom: -40%;
          width: 3rem; } }
      @media only screen and (max-width: 570px) {
        /* line 56, sass/_header.scss */
        .header__wrapper:after {
          bottom: 0;
          right: 0; } }
    /* line 72, sass/_header.scss */
    .header__wrapper:before {
      background: no-repeat center/contain url("../img/icon-2.png");
      bottom: 16%;
      height: 3.5rem;
      left: 7%;
      width: 3.5rem;
      animation: scaling 6s ease-out infinite both; }
      @media only screen and (max-width: 1440px) {
        /* line 72, sass/_header.scss */
        .header__wrapper:before {
          bottom: 6%; } }
      @media only screen and (max-width: 1024px) {
        /* line 72, sass/_header.scss */
        .header__wrapper:before {
          bottom: -40%;
          width: 2.5rem; } }
      @media only screen and (max-width: 570px) {
        /* line 72, sass/_header.scss */
        .header__wrapper:before {
          left: 0; } }
  /* line 91, sass/_header.scss */
  .header__logo {
    align-self: center;
    text-align: center;
    margin-top: 1vw;
    width: 30vw; }
    @media only screen and (max-width: 570px) {
      /* line 91, sass/_header.scss */
      .header__logo {
        width: 50vw; } }
    /* line 99, sass/_header.scss */
    .header__logo img {
      margin: 0 auto 5%;
      max-width: 100%;
      width: 80%; }
  /* line 105, sass/_header.scss */
  .header__link {
    background-color: #623394;
    border-radius: 1.1rem;
    color: #FFFFFF;
    font: 1rem/2.2rem NotoSansArmenian-Bold, sans-serif;
    height: 2.2rem;
    padding: 0 1.2rem;
    text-transform: uppercase;
    transition: background-color .2s ease; }
    /* line 114, sass/_header.scss */
    .header__link:hover {
      background-color: #4d0062; }
    @media only screen and (max-width: 1024px) {
      /* line 105, sass/_header.scss */
      .header__link {
        font: .8rem/1.6rem NotoSansArmenian-Bold, sans-serif;
        height: 1.6rem; } }
    @media only screen and (max-width: 570px) {
      /* line 105, sass/_header.scss */
      .header__link {
        display: none; } }
  /* line 125, sass/_header.scss */
  .header__title {
    color: #FFFFFF;
    font: 1.6rem/1.5 NotoSansArmenian-Bold, sans-serif;
    text-align: center;
    text-transform: uppercase; }
    @media only screen and (max-width: 1024px) {
      /* line 125, sass/_header.scss */
      .header__title {
        font-size: 1.2rem; } }
    @media only screen and (max-width: 570px) {
      /* line 125, sass/_header.scss */
      .header__title {
        font-size: 1rem; } }
  /* line 137, sass/_header.scss */
  .header .header-flying {
    position: relative; }
    /* line 139, sass/_header.scss */
    .header .header-flying:after, .header .header-flying:before {
      content: '';
      position: absolute;
      transform: translateZ(0);
      will-change: transform; }

@-webkit-keyframes shake-up {
  0% {
    transform: translateY(0); }
  33% {
    transform: translateY(-10px); }
  66% {
    transform: translateY(0); } }

@-moz-keyframes shake-up {
  0% {
    transform: translateY(0); }
  33% {
    transform: translateY(-10px); }
  66% {
    transform: translateY(0); } }

@-ms-keyframes shake-up {
  /* line 151, sass/_header.scss */
  0% {
    transform: translateY(0); }
  /* line 155, sass/_header.scss */
  33% {
    transform: translateY(-10px); }
  /* line 159, sass/_header.scss */
  66% {
    transform: translateY(0); } }

@-o-keyframes shake-up {
  0% {
    transform: translateY(0); }
  33% {
    transform: translateY(-10px); }
  66% {
    transform: translateY(0); } }

@keyframes shake-up {
  0% {
    transform: translateY(0); }
  33% {
    transform: translateY(-10px); }
  66% {
    transform: translateY(0); } }

@-webkit-keyframes shake-left {
  0% {
    transform: translateX(0); }
  33% {
    transform: translateX(-8px); }
  66% {
    transform: translateX(0); } }

@-moz-keyframes shake-left {
  0% {
    transform: translateX(0); }
  33% {
    transform: translateX(-8px); }
  66% {
    transform: translateX(0); } }

@-ms-keyframes shake-left {
  /* line 166, sass/_header.scss */
  0% {
    transform: translateX(0); }
  /* line 170, sass/_header.scss */
  33% {
    transform: translateX(-8px); }
  /* line 174, sass/_header.scss */
  66% {
    transform: translateX(0); } }

@-o-keyframes shake-left {
  0% {
    transform: translateX(0); }
  33% {
    transform: translateX(-8px); }
  66% {
    transform: translateX(0); } }

@keyframes shake-left {
  0% {
    transform: translateX(0); }
  33% {
    transform: translateX(-8px); }
  66% {
    transform: translateX(0); } }

@-webkit-keyframes scaling {
  0% {
    transform: scale(1); }
  33% {
    transform: scale(1.2); }
  66% {
    transform: scale(1); } }

@-moz-keyframes scaling {
  0% {
    transform: scale(1); }
  33% {
    transform: scale(1.2); }
  66% {
    transform: scale(1); } }

@-ms-keyframes scaling {
  /* line 181, sass/_header.scss */
  0% {
    transform: scale(1); }
  /* line 185, sass/_header.scss */
  33% {
    transform: scale(1.2); }
  /* line 189, sass/_header.scss */
  66% {
    transform: scale(1); } }

@-o-keyframes scaling {
  0% {
    transform: scale(1); }
  33% {
    transform: scale(1.2); }
  66% {
    transform: scale(1); } }

@keyframes scaling {
  0% {
    transform: scale(1); }
  33% {
    transform: scale(1.2); }
  66% {
    transform: scale(1); } }

/* line 3, sass/_nav.scss */
.nav__wrapper {
  position: relative; }
  @media only screen and (max-width: 1024px) {
    /* line 3, sass/_nav.scss */
    .nav__wrapper {
      display: none; } }

/* line 9, sass/_nav.scss */
.nav__mobile-button {
  display: none; }
  @media only screen and (max-width: 1024px) {
    /* line 9, sass/_nav.scss */
    .nav__mobile-button {
      background-color: #21a7dc;
      cursor: pointer;
      display: block;
      padding: .7rem 0 .5rem;
      text-align: center; } }
  /* line 18, sass/_nav.scss */
  .nav__mobile-button_icon {
    background: no-repeat center/contain url("../img/menu-burger.png");
    display: inline-block;
    height: 1.8rem;
    width: 1.8rem; }
    /* line 23, sass/_nav.scss */
    .nav__mobile-button_icon.active {
      background: no-repeat center/contain url("../img/menu-close.png"); }

/* line 28, sass/_nav.scss */
.nav__list {
  display: flex;
  height: 8vw; }
  @media only screen and (max-width: 1024px) {
    /* line 28, sass/_nav.scss */
    .nav__list {
      flex-direction: column;
      height: unset; } }

/* line 36, sass/_nav.scss */
.nav__item {
  flex: 0 1 11.111%;
  text-align: center;
  width: 11.111%;
  transition: background-color .2s ease; }
  @media only screen and (max-width: 1024px) {
    /* line 36, sass/_nav.scss */
    .nav__item {
      flex: 1;
      width: 100%; } }
  /* line 45, sass/_nav.scss */
  .nav__item:hover {
    background-color: #828282; }
  /* line 48, sass/_nav.scss */
  .nav__item > a:before {
    content: '';
    height: 45%; }
    @media only screen and (max-width: 1024px) {
      /* line 48, sass/_nav.scss */
      .nav__item > a:before {
        height: 2rem;
        margin: 0 1rem;
        width: 2rem; } }
  /* line 57, sass/_nav.scss */
  .nav__item_1 {
    background-color: #d60093; }
    /* line 59, sass/_nav.scss */
    .nav__item_1 > a:before {
      background: no-repeat center/contain url("../img/nav-icons/nav-icon_1.png"); }
  /* line 63, sass/_nav.scss */
  .nav__item_2 {
    background-color: #007dda; }
    /* line 65, sass/_nav.scss */
    .nav__item_2 > a:before {
      background: no-repeat center/contain url("../img/nav-icons/nav-icon_2.png"); }
  /* line 69, sass/_nav.scss */
  .nav__item_3 {
    background-color: #00b050; }
    /* line 71, sass/_nav.scss */
    .nav__item_3 > a:before {
      background: no-repeat center/contain url("../img/nav-icons/nav-icon_3.png"); }
  /* line 75, sass/_nav.scss */
  .nav__item_4 {
    background-color: #e50e64; }
    /* line 77, sass/_nav.scss */
    .nav__item_4 > a:before {
      background: no-repeat center/contain url("../img/nav-icons/nav-icon_4.png"); }
  /* line 81, sass/_nav.scss */
  .nav__item_5 {
    background-color: #6c10c9; }
    /* line 83, sass/_nav.scss */
    .nav__item_5 > a:before {
      background: no-repeat center/contain url("../img/nav-icons/nav-icon_5.png"); }
  /* line 87, sass/_nav.scss */
  .nav__item_6 {
    background-color: #abc31b; }
    /* line 89, sass/_nav.scss */
    .nav__item_6 > a:before {
      background: no-repeat center/contain url("../img/nav-icons/nav-icon_6.png"); }
  /* line 93, sass/_nav.scss */
  .nav__item_7 {
    background-color: #31849b; }
    /* line 95, sass/_nav.scss */
    .nav__item_7 > a:before {
      background: no-repeat center/contain url("../img/nav-icons/nav-icon_7.png"); }
  /* line 99, sass/_nav.scss */
  .nav__item_8 {
    background-color: #7030a0; }
    /* line 101, sass/_nav.scss */
    .nav__item_8 > a:before {
      background: no-repeat center/contain url("../img/nav-icons/nav-icon_8.png"); }
  /* line 105, sass/_nav.scss */
  .nav__item_9 {
    background-color: #ff6136; }
    /* line 107, sass/_nav.scss */
    .nav__item_9 > a:before {
      background: no-repeat center/contain url("../img/nav-icons/nav-icon_9.png"); }
  /* line 111, sass/_nav.scss */
  .nav__item-dropdown {
    position: relative; }

/* line 115, sass/_nav.scss */
.nav__link {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  font: 0.8rem/1.5 NotoSansArmenian-Bold, sans-serif;
  height: 100%;
  justify-content: space-around;
  padding: .3rem .4rem; }
  @media only screen and (max-width: 1440px) {
    /* line 115, sass/_nav.scss */
    .nav__link {
      font-size: .6rem; } }
  @media only screen and (max-width: 1024px) {
    /* line 115, sass/_nav.scss */
    .nav__link {
      align-items: center;
      flex-direction: row;
      font-size: .8rem;
      justify-content: flex-start;
      padding: .5rem 0; } }
  /* line 133, sass/_nav.scss */
  .nav__link-dropdown {
    position: relative; }
    /* line 135, sass/_nav.scss */
    .nav__link-dropdown:after {
      background: no-repeat center/contain url("../img/arrow.png");
      bottom: 1rem;
      content: '';
      height: .6rem;
      position: absolute;
      right: .4rem;
      width: .6rem; }
      @media only screen and (max-width: 1440px) {
        /* line 135, sass/_nav.scss */
        .nav__link-dropdown:after {
          bottom: .8rem; } }
      @media only screen and (max-width: 1024px) {
        /* line 135, sass/_nav.scss */
        .nav__link-dropdown:after {
          bottom: 1.1rem;
          right: 1.2rem; } }

/* line 153, sass/_nav.scss */
.nav__dropdown {
  background-color: #623394;
  border-radius: .8rem;
  display: none;
  left: 0;
  min-height: 120px;
  position: absolute;
  text-align: left;
  top: calc(100% + .5rem);
  padding: .7rem 0; }
  @media only screen and (max-width: 1024px) {
    /* line 153, sass/_nav.scss */
    .nav__dropdown {
      border-radius: unset;
      padding: 0;
      position: static; } }
  /* line 168, sass/_nav.scss */
  .nav__dropdown_link {
    background-color: transparent;
    color: #FFFFFF;
    display: block;
    font: 0.8rem/1.8 NotoSansArmenian, sans-serif;
    padding: 0 1.2rem;
    transition: background-color .2s ease;
    white-space: nowrap; }
    @media only screen and (max-width: 1024px) {
      /* line 168, sass/_nav.scss */
      .nav__dropdown_link {
        font-size: .8rem;
        padding: .6rem 1.2rem .6rem 4rem; } }
    /* line 180, sass/_nav.scss */
    .nav__dropdown_link:hover {
      background-color: #8965b0; }

/* line 2, sass/_main.scss */
.section {
  min-height: 25rem; }
  @media only screen and (max-width: 1440px) {
    /* line 2, sass/_main.scss */
    .section {
      min-height: 20rem; } }
  /* line 7, sass/_main.scss */
  .section:not(.section-wave) {
    padding: 3rem 0; }
    @media only screen and (max-width: 768px) {
      /* line 7, sass/_main.scss */
      .section:not(.section-wave) {
        padding: 1rem 0; } }
  /* line 14, sass/_main.scss */
  .section-wave:after, .section-wave:before {
    content: '';
    display: block;
    height: 7rem; }
    @media only screen and (max-width: 1440px) {
      /* line 14, sass/_main.scss */
      .section-wave:after, .section-wave:before {
        height: 5.5rem; } }
    @media only screen and (max-width: 1024px) {
      /* line 14, sass/_main.scss */
      .section-wave:after, .section-wave:before {
        height: 4rem; } }
    @media only screen and (max-width: 768px) {
      /* line 14, sass/_main.scss */
      .section-wave:after, .section-wave:before {
        height: 3rem; } }
    @media only screen and (max-width: 570px) {
      /* line 14, sass/_main.scss */
      .section-wave:after, .section-wave:before {
        height: 2rem; } }
  /* line 32, sass/_main.scss */
  .section-wave:after {
    background: no-repeat bottom center/cover url("../img/wave-bottom.png"); }
  /* line 35, sass/_main.scss */
  .section-wave:before {
    background: no-repeat top center/cover url("../img/wave-top.png"); }
  /* line 39, sass/_main.scss */
  .section-2 {
    background: no-repeat center/cover url("../img/section-back-2.png"); }
  /* line 42, sass/_main.scss */
  .section-4 {
    background: no-repeat center/cover url("../img/section-back-4.png"); }
  /* line 45, sass/_main.scss */
  .section__container {
    margin: 0 auto;
    max-width: 60%; }
    @media only screen and (max-width: 1440px) {
      /* line 45, sass/_main.scss */
      .section__container {
        max-width: 80%; } }
    @media only screen and (max-width: 1024px) {
      /* line 45, sass/_main.scss */
      .section__container {
        max-width: 90%;
        margin-bottom: 1rem; } }
  /* line 56, sass/_main.scss */
  .section__title {
    font: 1.6rem/1.5 NotoSansArmenian-Bold, sans-serif;
    text-align: center; }
    @media only screen and (max-width: 1440px) {
      /* line 56, sass/_main.scss */
      .section__title {
        font-size: 1.4rem; } }
    @media only screen and (max-width: 570px) {
      /* line 56, sass/_main.scss */
      .section__title {
        margin-top: 1.2rem; } }
    /* line 65, sass/_main.scss */
    .section__title:after {
      border-radius: .2rem;
      content: '';
      display: flex;
      height: .2rem;
      margin: 1rem auto 2rem;
      width: 8rem; }
      @media only screen and (max-width: 768px) {
        /* line 65, sass/_main.scss */
        .section__title:after {
          margin: 1rem auto !important; } }
      @media only screen and (max-width: 570px) {
        /* line 65, sass/_main.scss */
        .section__title:after {
          margin: .5rem auto 1rem !important; } }
    /* line 79, sass/_main.scss */
    .section__title-1 {
      text-align: left;
      color: #623394; }
      /* line 82, sass/_main.scss */
      .section__title-1:after {
        background-color: #623394;
        margin-left: 0; }
      @media only screen and (max-width: 768px) {
        /* line 79, sass/_main.scss */
        .section__title-1 {
          text-align: center; } }
    /* line 90, sass/_main.scss */
    .section__title-2 {
      color: #fbd313; }
      /* line 92, sass/_main.scss */
      .section__title-2:after {
        background-color: #fbd313; }
    /* line 96, sass/_main.scss */
    .section__title-3 {
      color: #623394; }
      /* line 98, sass/_main.scss */
      .section__title-3:after {
        background-color: #623394; }
    /* line 102, sass/_main.scss */
    .section__title-4 {
      color: #c5d934; }
      /* line 104, sass/_main.scss */
      .section__title-4:after {
        background-color: #c5d934; }
    /* line 108, sass/_main.scss */
    .section__title-5 {
      color: #f24c6c; }
      /* line 110, sass/_main.scss */
      .section__title-5:after {
        background-color: #f24c6c; }
  /* line 115, sass/_main.scss */
  .section__wrapper {
    display: flex; }
    @media only screen and (max-width: 768px) {
      /* line 115, sass/_main.scss */
      .section__wrapper {
        flex-direction: column;
        text-align: center; } }
  /* line 122, sass/_main.scss */
  .section__text-wrapper {
    flex: 0 1 60%; }
  /* line 125, sass/_main.scss */
  .section__subtitle {
    color: #FFFFFF;
    font: 1.8rem/1.2 NotoSansArmenian, sans-serif;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 1440px) {
      /* line 125, sass/_main.scss */
      .section__subtitle {
        font-size: 1.4rem; } }
  /* line 133, sass/_main.scss */
  .section__text {
    color: #FFFFFF;
    font: .9rem/1.5 NotoSansArmenian, sans-serif;
    margin-bottom: 1.5rem; }
    /* line 137, sass/_main.scss */
    .section__text-1 {
      color: #272727;
      font: .8rem/1.5 NotoSansArmenian, sans-serif;
      margin-bottom: 1rem; }
  /* line 143, sass/_main.scss */
  .section__img-wrapper {
    flex: 0 1 40%;
    margin: 0 6%; }
    @media only screen and (max-width: 768px) {
      /* line 143, sass/_main.scss */
      .section__img-wrapper {
        flex: 1;
        margin: 2rem auto;
        max-width: 90%;
        width: 20rem; } }
    @media only screen and (max-width: 570px) {
      /* line 143, sass/_main.scss */
      .section__img-wrapper {
        margin-top: 0; } }
  /* line 156, sass/_main.scss */
  .section__link {
    border-radius: 2.6rem;
    color: #FFFFFF;
    display: inline-block;
    font: 1rem/2.2rem NotoSansArmenian-Bold, sans-serif;
    height: 2.6rem;
    padding: 0 1.2rem;
    transition: all .2s ease; }
    @media only screen and (max-width: 1024px) {
      /* line 156, sass/_main.scss */
      .section__link {
        margin-bottom: 1rem; } }
    @media only screen and (max-width: 768px) {
      /* line 156, sass/_main.scss */
      .section__link {
        border-radius: 2rem;
        font: .8rem/1.6rem NotoSansArmenian-Bold, sans-serif;
        height: 2rem;
        padding: 0 1.2rem; } }
    /* line 173, sass/_main.scss */
    .section__link:after {
      content: '';
      display: inline-block;
      margin-left: .8rem;
      width: 1rem;
      height: .7rem; }
    /* line 180, sass/_main.scss */
    .section__link:hover {
      color: #272727; }
    /* line 183, sass/_main.scss */
    .section__link-1 {
      background-color: #abc31b;
      border-bottom: .4rem solid #9eb419; }
      /* line 186, sass/_main.scss */
      .section__link-1:after {
        background: no-repeat center/cover url("../img/arrows.png"); }
      /* line 189, sass/_main.scss */
      .section__link-1:hover {
        background-color: #879d08;
        border-bottom: .4rem solid #486603; }
    /* line 194, sass/_main.scss */
    .section__link-2 {
      background-color: #fad016;
      border-bottom: .4rem solid #e6c014; }
      /* line 197, sass/_main.scss */
      .section__link-2:after {
        background: no-repeat center/cover url("../img/arrows-white.png"); }
      /* line 200, sass/_main.scss */
      .section__link-2:hover {
        background-color: #deb80d;
        border-bottom: .4rem solid #b09209; }
    /* line 205, sass/_main.scss */
    .section__link-4 {
      background-color: #c5d934;
      border-bottom: .4rem solid #b6c830; }
      /* line 208, sass/_main.scss */
      .section__link-4:after {
        background: no-repeat center/cover url("../img/arrows.png"); }
      /* line 211, sass/_main.scss */
      .section__link-4:hover {
        background-color: #a2b62a;
        border-bottom: .4rem solid #88931f; }

/* line 2, sass/_footer.scss */
.footer {
  background-color: #112f5b; }
  /* line 4, sass/_footer.scss */
  .footer__container {
    margin: 0 auto;
    max-width: 60%; }
    @media only screen and (max-width: 1440px) {
      /* line 4, sass/_footer.scss */
      .footer__container {
        max-width: 80%; } }
    @media only screen and (max-width: 1024px) {
      /* line 4, sass/_footer.scss */
      .footer__container {
        max-width: 90%; } }
  /* line 14, sass/_footer.scss */
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0; }
    @media only screen and (max-width: 768px) {
      /* line 14, sass/_footer.scss */
      .footer__wrapper {
        flex-direction: column;
        text-align: center; } }
  /* line 23, sass/_footer.scss */
  .footer__section {
    flex: 1; }
    @media only screen and (max-width: 768px) {
      /* line 26, sass/_footer.scss */
      .footer__section:not(:last-child) {
        margin-bottom: 2rem; } }
  /* line 31, sass/_footer.scss */
  .footer__subtitle {
    color: #c5d934;
    font: 1rem/1.5 NotoSansArmenian, sans-serif;
    margin-bottom: 1rem; }
  /* line 36, sass/_footer.scss */
  .footer__link-img {
    display: inline-block;
    margin-bottom: .6rem;
    margin-right: .6rem;
    width: 6rem; }
    @media only screen and (max-width: 768px) {
      /* line 36, sass/_footer.scss */
      .footer__link-img {
        margin: 0 .3rem; } }
  /* line 45, sass/_footer.scss */
  .footer__email {
    color: #FFFFFF;
    display: inline-block;
    font: .8rem/1.5 NotoSansArmenian, sans-serif; }
    /* line 49, sass/_footer.scss */
    .footer__email_img {
      height: auto;
      margin-right: .2rem;
      vertical-align: middle;
      width: 1rem; }
  /* line 56, sass/_footer.scss */
  .footer__sponsor {
    margin-bottom: 1rem;
    width: 10rem; }
  /* line 60, sass/_footer.scss */
  .footer__text {
    color: #FFFFFF;
    font: .8rem/1.5 NotoSansArmenian, sans-serif; }

/* line 66, sass/_footer.scss */
.copyright {
  background-color: #0c254a; }
  /* line 68, sass/_footer.scss */
  .copyright__text {
    color: #FFFFFF;
    font: .8rem/1.5 NotoSansArmenian, sans-serif;
    padding: .8rem 0;
    text-align: center; }
